[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.3"
virtualenv = "==20.0.31"
importlib-metadata = "==1.7.0"
psycopg2-binary = "==2.8.5"
psycopg2 = "*"
pillow = "*"
django-tailwind = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.8"
