[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers="*"
django = "==3.2.3"
virtualenv = "==20.0.31"
importlib-metadata = "==1.7.0"
psycopg2-binary = "==2.8.5"
pillow = "*"
django-tailwind = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
django-crispy-forms = "*"
crispy-tailwind = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
qrcode = "*"
dj-database-url = "*"
environs = {version = "==8.0.0", extras = ["django"]}
whitenoise = "==5.1.0"
gunicorn = "==20.0.4"

[dev-packages]

[requires]
python_version = "3.7"
