{% extends '_base.html' %}

{% block title %}events{% endblock title %}

{% block content %}
<div class="grid grid-cols-3 gap-4 w-5/6 pl-6 pt-6">
  {% for event in object_list %}
    <div class="card">
      {% if event.Photo %}
     <img class="bookcover" src="{{ event.Photo.url }}">
{% endif %}

      <div class="card-header">
        <a href="{% url 'event_detail' event.id %}" class="font-weight-bold">{{ event.Name }}</a> &middot;<br>
        <span class="text-muted"> Starting date: {{ event.Starting_date }} | Ending date: {{ event.Ending_date }}</span>
      </div>
      <div class="card-body">
       Locations {{ event.Locations }}
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'event_edit' event.id %}">Edit</a> | <a href="{% url 'event_delete' event.id %}">Delete</a>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
