{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class="text-center">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets1.lottiefiles.com/packages/lf20_s4Nysi.json"  background="transparent"  speed="1"  style="width: 75%; height: 63%;margin:auto;"  loop  autoplay></lottie-player>
    <span class="text-center text-3xl">Oops! Page not found</span>
        <a href="/" class="block underline my-4 text-purple-700 ">Go Home</a>
    </div>
{% endblock content %}
